body {
  background-color: antiquewhite;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  gap: 20px;
}

button {
  cursor: pointer;
}

h1 {
  text-align: center;
  font-size: 1.5rem;
}

.cart {
  width: 220px;
  height: 380px;
  display: grid;
  place-items: center;
  border: solid 1px black;
  padding: 20px;
}

.buttons {
  display: flex;
  width: 100px;
  justify-content: space-between;
}

.buttons button {
  background-color: black;
  color: aliceblue;
  border: none;
  width: 20px;
}

.buttons input {
  width: 40px;
  background-color: aliceblue;
  outline: none;
  border: solid 1px black;
  text-align: center;
}

img {
  width: 150px;
  max-width: 100%;
  border-bottom: solid 1px black;
  padding: 20px;
}

.checkout {
  margin: 20px auto;
}
.checkout button {
  color: aliceblue;
  background-color: black;
  border: none;
  padding: 10px;
}

.total {
  width: 220px;
  height: 380px;
  border: solid 1px black;
  padding: 20px;
}
